################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookManagement/bin
/BookManagement/obj/Debug
/BookManagement/obj/Release
/packages
/BookManagement/App_Data
