body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
a,butto {
    cursor :  pointer;
}

input,
select,
textarea {
    max-width: 280px;
}

.table-header{
    color: white;
    background-color: black;    
}

.table-header > tr > th {
    text-align : center;
}

.table-body-hover > tbody > tr:hover{
    background-color : lightgray;
}
.form-table > tbody > tr > td > input,select{
    width : 100%;
}

.form-table-action {
    text-align : center;
}

.form-table-action > a{
    cursor: pointer;
}

.form-table > tbody > tr > td > input, select {
    width: 100%;
}


.selected{
    background-color: darkgray;
}

