<div>
    <div class="panel">
        <div class="panel-heading table-header">
            <div class="row">
                <div class="container">
                    <h3>Edit Book</h3>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <div class="form-group" style="width:90%">
                    <input type="hidden" ng-model="controller.bookModel.id" />
                    <table class="table table-bordered table-responsive form-table">
                        <tr>
                            <td style="width:40%">
                                <label for="txtBookName">Name:</label>
                            </td>
                            <td style="width:60%">
                                <input type="text" ng-model="controller.bookModel.title" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <label for="txtBookAuthor">Author:</label>
                            </td>
                            <td style="width:70%">
                                <input type="text" ng-model="controller.bookModel.author" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="text-align: right">
                    <button class="btn btn-toolbar btn-success" ng-click="controller.saveBook();">Save</button>
                    <button class="btn btn-toolbar btn-default" ng-click="controller.close();">Cancel</button>
                </div>                
            </div>
        </div>
    </div>
</div>

