<div ng-controller="BookController">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="container">
                    <h3>Available Books</h3>                
                </div>                
            </div>
        </div>
        <div class="panel-body">
            <div>
                <label for="txtSearchBook">Search for:</label>
                <input id="txtSearchBook" name="txtSearchBook" type="text" ng-model="searchBook" />
                <label for="ddlOrderBy">Sort By:</label>
                <select id="ddlOrderBy" name="ddlOrderBy" ng-model="controller.orderByColumn" >
                    <option value="id">Id</option>
                    <option value="name">Name</option>
                    <option value="author">Author</option>
                </select>
            </div>
            <table class="table table-bordered table-responsive table-hover  table-striped">
                <thead class="table-header">
                    <tr>
                        <th style="width:30%">ID</th>
                        <th style="width:30%">Name</th>
                        <th style="width:20%">Author</th>
                        <th style="width:10%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in controller.bookList | filter: searchBook |orderBy: controller.orderByColumn">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>
                            <span>
                                <a href="#!/books/edit/{{ controller.bookList.indexOf(book) }}" id="lnkEdit" name="lnkEdit">Edit</a> |
                                <a href="" id="lnkDelete" name="lnkDelete" ng-click="controller.removeBook(book);">Delete</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a class="btn btn-toolbar btn-success" href="#!/books/add">Add New Book</a>
            </div>
        </div>
    </div>
</div>