<div ng-controller="BookListController">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="container">
                    <h3>Available Books</h3>                
                </div>                
            </div>
        </div>
        <div class="panel-body">
            <div>
                <label for="txtSearchBook">Search for:</label>
                <input id="txtSearchBook" name="txtSearchBook" type="text" ng-model="searchBook" />
                <label for="ddlOrderBy">Sort By:</label>
                <select id="ddlOrderBy" name="ddlOrderBy" ng-model="controller.orderByColumn">
                    <option value="id">Id</option>
                    <option value="name">Name</option>
                    <option value="author">Author</option>
                </select>                
            </div>
            <table class="table table-responsive table-bordered table-body-hover">
                <thead class="table-header">
                    <tr>
                        <th><input type="checkbox" ng-click="controller.selectAllBooks();" ng-checked="controller.areAllBooksSelected();"/></th>
                        <th style="width:30%">ID</th>
                        <th style="width:30%">Name</th>
                        <th style="width:20%">Author</th>
                        <th style="width:10%">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-body-hover">
                    <tr ng-class="{selected: controller.hightlightIfSelected(book)}" ng-repeat="book in controller.bookList | filter: searchBook |orderBy: controller.orderByColumn">
                        <td class="form-table-action">
                            <span>
                                <input type="checkbox" ng-click="controller.selectBook(book);" ng-checked="controller.isBookSelected(book);" />
                            </span>                            
                        </td>
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td class="form-table-action">
                            <span class="text-center">
                                <a ng-click="controller.showEditBookWindow(book);" id="lnkEdit" name="lnkEdit">Edit</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: right">
                <a class="btn btn-toolbar btn-primary" ng-click="controller.showCreateBookWindow();">Add Book</a>
                <button class="btn btn-toolbar btn-primary" ng-click="controller.removeSelectedBooks();">
                    Delete 
                    <span>({{ controller.selectedBooks.length }})</span>
                </button>
            </div>
        </div>
    </div>
</div>